* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Be Vietnam pro';
}

/*-------------Header----------*/

.section-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    font-weight: 500;

}

.section-header .div-ham {
    padding: 0px;
    left: -50px;
}

.section-header ul li {
    list-style-type: none;
    display: inline-block;
    line-height: 23px;
    margin: 10px;
}

.section-header ul li a {
    text-decoration: none;
    color: #242E52;
}

.a-contact {
    background-color: #8B48BF;
    color: White;
    text-decoration: none;
    width: 120px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    border-radius: 50px;
}


/*-------------body--------------*/

.section-one {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 60px;
}

h1 {
    color: #232C50;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -0.035em;
    text-align: right;
}

.padel-intro {
    width: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-end;

}

.padel-intro p {
    color: #000000;
    font-family: 'Be Vietnam pro';
    font-size: 16px;
    font-weight: 500;
    text-align: right;
}

.padel-intro a {
    align-self: flex-end;
}

.section-two {
    display: flex;
    justify-content: space-evenly;
    background-color: #8B48BF;
    color: #FFFFFF;
    height: 168px;
    padding: 40px;
}

.section-two h2 {
    width: 450px;
    height: 88px;
    font-family: 'Be Vietnam pro';
    font-size: 36px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;


}

.section-two p {
    width: 450px;
    height: 88px;
    font-family: 'Be Vietnam pro';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}



.a-more:hover {
    background-color: rgba(139, 72, 191, 0.7);
}

.section-three {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    gap: 20px;

}

.section-three .box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8B48BF;
    color: #FFFFFF;
    width: 70px;
    height: 43px;
    border-radius: 30px;
    font-family: 'Be Vietnam pro';
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    margin-left: 80px;

}

.section-three .box-2 {
    align-items: flex-start;
    justify-content: start;
    padding: 10px;
}

.section-three .box-2 p {

    font-family: 'Be Vietnam pro';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #B3B2B7;
    width: 437px;
    height: 104px;
    padding-top: 20px;

}


.section-four {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;

}

h3 {
    font-size: 39px;
    font-weight: 700;
    text-align: center;
    padding: 80px 0px 50px 0;
    color: #242E53;
}

.section-four p {
    width: 428px;
    height: 200px;
    padding-top: 10px;
    font-family: 'Be Vietnam pro';
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    font-size: 17px;
    color: #B3B2B7;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 20px;
}

.section-four img {
    padding: 20px;
}

.section-four h5 {
    color: #3F4868;

}

.div-a-more {
    display: flex;
    justify-content: center;
    align-items: center;

}

.a-more {
    text-align: center;
    margin: 60px;
    background-color: #8B48BF;
    color: white;
    text-decoration: none;
    width: 130px;
    height: 45px;
    border-radius: 50px;
    padding: 10px;
    font-family: 'Be Vietnam pro';
    font-style: normal;
    font-weight: 500;
    font-size: 12;
    line-height: 19px;
}

.section-five {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: #8B48BF;
    color: #FFFFFF;
    height: 224px;
    margin-top: 200px;
    padding: 50px 0px 50px 0px;
}

.section-five h2 {
    width: 420px;
    height: 96px;
    font-family: 'Be Vietnam pro';
    font-style: Bold;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

.a-go-for-it {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    padding: 10px;
    width: 134px;
    height: 44px;
    background-color: #FFFFFF;
    color: #8B48BF;
    text-decoration: none;
    border-radius: 50px;
}



footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #1E1E26;
    color: #FFFFFF;
    width: 100%;
    height: 200px;
    padding: 30px 0px 15px 0px;
}

footer ul li {
    list-style-type: none;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
    margin: 10px;
    Font-family: 'Be Vietnam pro';
    Font-style: normal;

}

footer ul li a {
    text-decoration: none;
    color: #FFFFFF;
}

footer input {
    width: 201px;
    height: 44px;
    border-radius: 30px;
    padding: 0px;
    color: #8C8C94;
}

footer nav h6 {
    display: block;
    padding-top: 60px;
    text-align: end;
    font-weight: 500;
    font-size: 12.5px;
    line-height: 18px;
    color: #8C8C94;
}

footer nav label {
    display: inline-block;
    text-align: center;
    padding: 10px;
    width: 70px;
    height: 42px;
    background: #8B48BF;
    border-radius: 50px;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
}


.div-footer-box-2 {
    padding-top: 70px;

}

.ul-header li a:hover {
    color: rgba(36, 46, 82, 0.6);
}

.div-sanyo img:hover {
    transition: all 2s ease;
    transform: scale(2);
}

.div-navarro img:hover {
    transition: all 2s ease;
    transform: scale(2);
}

.div-lebron img:hover {
    transition: all 2s ease;
    transform: scale(2);
}

/********* MEDIA QUERIES *********/
@media screen and (max-width: 768px) {
    .section-one {
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

    .section-header {
        display: flex;
        justify-content: space-around;

    }

    .section-header .nav-ham {
        background-image: url(img/vector-Hamb.png);
        resize: no-repeat;
        width: 48px; 
        height: 42px;

    }

    .ul-header {
        display: none;
    }

    .a-contact {
        display: none;
        padding: 10px;
        height: 42px;
        width: 135px;
        font-size: 13px;
        align-self: flex-end;
        font-weight: 500;
        line-height: 19px;
    }
}


/*---MOBILE---*/

@media screen and (max-width: 480px) {

    .section-one {
        flex-direction: column;
    }

    .section-one img {
        height: 300px;
        width: 370px;
    }

    .padel-intro {
        height: 228px;
        width: 400px;
        
    }

    .padel-intro a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .padel-intro h1 {
        
        margin-top: 50px;
    }

    .padel-intro p {
        height: 71px;
        padding-bottom: 100px;
    }

    .section-two {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 280px;
        background-color: #3CDDF3;
        padding: 10px;
        margin: 280px 0px 20px 0px;

    }

    .section-two p {
        width: 415px;
        height: 88px;
        flex-wrap: wrap;
        font-family: 'Be Vietnam pro';
        font-size: 14px;
        text-align: left;

    }

    .section-two h2 {
        width: 90%;
        font-size: 36px;
        font-weight: 700;
        line-height: 41px;
        letter-spacing: 0em;
        text-align: left;

    }

    .section-three {
        flex-direction: column;
        gap: 0;
        padding-left: 20px;
    }

    .section-three .box-2 p {
        width: 100%;
        height: 110px;
        font-size: 16px;
        padding: 0px;
        padding-bottom: 50px;


    }

    .section-three .box-1 {
        margin: 0px;
    }

    .section-three .box-2 h4 {
        position: relative;
        width: 90%;
        top: -52px;
        left: 45px;
        background-color: rgba(139, 72, 191, 0.3);
        text-align: center;
        font-size: 16px;
        line-height: 23px;
        letter-spacing: -0.015em;
        font-family: 'Be Vietnam pro';
        font-style: normal;
        font-weight: 700;
        color: #323851;
        padding: 10px 55px 10px 0px;
    }

    h3 {
        padding-top: 20px;
    }

    .div-sanyo {
        display: none;
    }

    .div-navarro {
        display: none;
    }

    .a-more {
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .div-a-more {
        margin-top: 20px;
    }

    .section-four p {
        width: 418px;
        height: 145px;
        background-color: #FAFAFA;

    }

    .section-five {
        background-color: #3CDDF3;
        height: 366px;
        border-radius: 0px;
        padding: 15px;
        text-align: center;
        margin-top: 50px;
    }

    .section-five h2 {
        width: 90%;
        font-size: 35px;
        color: white;
    }

    .a-go-for-it {
        background-color: #232C50;
        color: #FFFFFF;

    }

    footer {
        flex-wrap: wrap;
        height: 535px;
        width: 100%;
        left: 0px;
        top: 3057px;
        border-radius: 0px;
        padding: 40px 0px 40px 0px;
    }

    .div-footer-box-1 {
        display: inline-block;
        position: relative;
        top: 370px;
        left: 50%;
        font-family: 'Be Vietnam';
        font-style: normal;
        font-weight: 500;
        font-size: 12.5px;
        line-height: 18px;
    }

    footer nav h6 {
        position: relative;
        top: 30px;
        text-align: center;
    }

    footer input {
        position: relative;
        top: -310px;
        width: 250px;
    }

    footer nav label {
        position: relative;
        top: -310px;

    }

    .div-footer-box-2 {
        position: relative;
        top: 200px;
        left: 20%;
        line-height: 18px;
    }

    .div-footer-box-2 img {
        margin-left: 24px;

    }

    .footer-li-a {
        position: relative;
        top: 100px;
        left: -265px;
    }

    .footer-li-a2 {
        position: relative;
        top: -70px;
        left: 60px;

    }

}